body { 
    background-color: #eeeeee;
    padding: 0px;
    margin: 0px;
}

a {
    color: #102432;
}

a:visited {
    color : #102432;
}

.header{
    width: 100%;
    border-bottom: 1px solid #cccccc;
    background-color: #eeeeee;
    padding-top: 0px;
}

.header-center{
    width: 820px;
    height: 99px;
    padding: 0px;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#logo{
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    z-index: 1000;
}

.ribbonimg {
    position: static;
    left: 90px;
    top: 700px;

}

.main-body{
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 820px;
    background-color: #f7f7f7;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 5px solid #cccccc;
}

.game-div {
    background-color: #eeeeee;
    width: 700px;
    height: 350px;
    padding: 5px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #cccccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.non-game {
    position: static;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 5px;
    width: 810px;
    clear: both;
}

.game-canvas {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}

.non-game-content{
    background-color: #ffffff;
    padding: 0px;
    width: 360px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-bottom: 3px solid #cccccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    float: left;
    margin-left: 22px;
    margin-right: 21px;
}

.non-game-content>h1 {
    color: #2F2F2F;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 32px;
    padding-left: 10px;
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
    margin: 0px;
    padding: 15px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

.header-shadow{
    height: 5px;
    background-color: #f1f1f1;
}

.non-game-content>p {
    color: #102432;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 13px;
    margin: 15px;
}

.copyright {
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}

.copyright>p {
    color: #2F2F2F;
    text-align: center;
    color: #888888;
    font-family: "Chewy", "Verdana", sans-serif;
    font-size: 9px;
    margin-top: 20px;
    margin-bottom: 1px;
}

.clear-both {
    clear: both;
}

.scoreboard-table {
    color: #2F2F2F;
    width: 100%;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 13px;
    padding: 15px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}

.scoreboard-top-row{
    font-size: 18px;
    font-weight: bold;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.scoreboard-row-alternate{
    background-color: #f1f1f1;
}

.score {
    text-align: right;
}

canvas {
    cursor: pointer;
}

#blanket {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: none;
    opacity: 0.8;
    z-index: 2;
}

#high-score {
    /*position: fixed;*/
    /*top: 700px;*/
    /*left: 700px;*/
    background-color: #0f161d;
    z-index: 3;
    display: none;
}

#high-score > h1 {
    font-family: 'Chewy', 'Arial', sans-serif;
    color: #f8ed43;
    font-size: 40px;
    padding-left: 10px;
    /*border-bottom: 1px solid #cccccc;*/
    /*background-color: #ffffff;*/
    margin: 0px;
    padding: 15px;
}

#high-score-input-name {
    width: 275px;
    height: 35px;
    line-height: 25px;
    font-size: 17px;
    font-family: "Arial", "Helvetica", sans-serif;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    /*display: block;*/
    border: 1px solid #cccccc;
    cursor: auto;
    -webkit-appearance: none;
    /*-webkit-user-select: none;*/
    vertical-align: middle;
}

#high-score-submit {
    width: 45px;
    height: 39px;
    -webkit-appearance: none;
    -webkit-box-align: center;
    margin: 0px;
    margin-bottom: 10px;
    background-color: whiteSmoke;
    background-clip: border-box;
    background-origin: padding-box;
    border-bottom-color: #ffffff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #ffffff;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #ffffff;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #ffffff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: #2F2F2F;
    display: inline-block;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 11px;
    padding: 1px;
    vertical-align: middle;
}
